{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block titie %}
    处理任务
{% endblock %}

{% block navbar %}
   {{ super() }}
{% endblock %}

{% block content %}

    <br>
    {{ self.flashed_messages() }}

{#    <br>#}
{#    <form action="{{ url_for('add') }}" class="form-horizontal" method="post">#}
{#        <div class="form-group">#}
{#            <div class="col-lg-offset-3 col-lg-4 col-sm-5">#}
{#                <input type="text" class="form-control" placeholder="清添加任务" required="required" name="name">#}
{#            </div>#}
{#            <div class="col-lg3 col-sm-2">#}
{#                <select class="form-control" name="worker">#}
{#                    {% for user in users %}#}
{#                        <option value="{{ user.id }}">{{ user.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </div>#}
{#            <div class="col-lg3 col-sm-2">#}
{#                <input type="submit" class="btn btn-primary" value="完成">#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
   <div class="col-lg-offset-3 col-lg-6">
    {{   wtf.quick_form(forms) }}
   </div>


    <div class="col-lg-offset-2 col-lg-8">
    <table class="table table-striped">
      <caption><h1>任务列表</h1></caption>
      <thead>
        <tr>
            <th>任务编号</th>
            <th>任务名称</th>
            <th>创建时间</th>
            <th>结束时间</th>
            <th>安排人员</th>
            <th>任务部门</th>
            <th>任务状态</th>
            <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for todo in todos.items %}
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.name }}</td>
            <td>{{ todo.add_time }}</td>
            <td>{{ todo.end_time }}</td>
            <td>{{ todo.worker.username }}</td>
            <td>{{ todo.department.name }}</td>
          <td>
            {% if todo.status %}
                <a href="{{ url_for('tododown',id=todo.id,page=todos.page) }}" class="btn btn-success" role="button">已完成</a>
            {% else %}
                <a href="{{ url_for('todoup',id=todo.id,page=todos.page) }}" class="btn btn-warning" role="button">未完成</a>
            {% endif %}
          </td>
            <td>
                <a href="{{ url_for('delete',id=todo.id,page=todos.page) }}" class="btn btn-warning" role="button">删除</a> </td>
              <td>  <a href="{{ url_for('edit',id=todo.id,page=todos.page) }}" class="btn btn-primary" role="button">编辑</a></td>
          <td> <a href="{{ url_for('uploadlist',todo_id=todo.id)}}" class="btn btn-primary" role="button">查看附件</a>

            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% from 'macro/page.html' import paginate %}
        {{ paginate('list',todos) }}
</div>
{% endblock %}
