{% extends 'base.html' %}
{%  import 'bootstrap/wtf.html' as wtf %}
{% block titie %}
    处理任务
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap-table.css') }}">
 {% endblock %}
{% block scripts %}
    {{ super() }}


{% endblock %}
{% block navbar %}
   {{ super() }}
{% endblock %}

{% block content %}

    <br>
    {{ self.flashed_messages() }}
    {% if forms %}
       <div class="col-lg-offset-2 col-lg-6">
        {{   wtf.quick_form(forms) }}
       </div>
    {% endif %}

    <div class="col-lg-offset-1 col-lg-10">

    <table
           class="table table-striped">
      <caption><h2>任务列表</h2></caption>
      <thead>
        <tr>
            <th data-field='id'>任务编号</th>
            <th data-field='name'>任务名称</th>
            <th data-field='add_time'>创建时间</th>
            <th data-field='end_time'>结束时间</th>
            <th data-field='worker.username'>安排人员</th>
            <th data-field='department.name'>任务部门</th>
            <th >任务状态</th>
            <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for todo in todos.items %}
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.name }}</td>
            <td>{{ todo.add_time }}</td>
            <td>{{ todo.end_time }}</td>
            <td>{{ todo.worker.username }}</td>
            <td>{{ todo.department.name }}</td>
          <td>
            {% if todo.status %}
                <a href="{{ url_for('tododown',id=todo.id,page=todos.page) }}" class="btn btn-success" role="button">已完成</a>
            {% else %}
                <a href="{{ url_for('todoup',id=todo.id,page=todos.page) }}" class="btn btn-warning" role="button">未完成</a>
            {% endif %}
          </td>
            <td>
                <a href="{{ url_for('delete',id=todo.id,page=todos.page) }}" class="btn btn-warning" role="button">删除</a> </td>
              <td>  <a href="{{ url_for('edit',id=todo.id,page=todos.page) }}" class="btn btn-primary" role="button">编辑</a></td>
          <td> <a href="{{ url_for('uploadlist',todo_id=todo.id)}}" class="btn btn-primary" role="button">查看附件</a>

            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% from 'macro/page.html' import paginate %}
        {{ paginate('list',todos) }}
</div>
{% endblock %}
