{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block titie %}
    上传附件
{% endblock %}

{% block navbar %}
   {{ super() }}
{% endblock %}

{% block content %}

    <br>
    {{ self.flashed_messages() }}
   <div class="col-lg-offset-2 col-lg-8">
    {{   wtf.quick_form(forms) }}
   </div>

    <div class="col-lg-offset-2 col-lg-8">
    <table class="table table-striped">
      <caption><h1>附件列表</h1></caption>
      <thead>
        <tr>
            <th>附件编号</th>
            <th>附件目录</th>

            <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for att in forms.attatches %}
        <tr>
            <td>{{ att.id }}</td>
            <td>{{ att.filepath }}</td>

          <td>

          </td>
            <td>
            <a href="{{ url_for('upload_delete',att_id=att.id,todo_id=forms.todo_id,page=forms.page) }}" class="btn btn-warning" role="button">删除</a>

            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

</div>
{% endblock %}